<head>
  <title>home</title>
</head>
<body class="body-black">

<nav class="navbar navbar-default">
  <span class="supreme-font">S U P R E M E</span>
  <div>
    <a class="btn btn-danger pull-right link-button" routerLink="/login" style="margin-left: 5px">Login</a >
    <a class="btn btn-danger pull-right link-button" routerLink="/register">Register</a >
  </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="height:270px">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/full_supreme_lv.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/store.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/full_supreme_tnf.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href=" " role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a >
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a >
</div>

<div class="row justify-content-center" style="margin-top: 10px">
  <div class="col-8">
    <form (ngSubmit)="search()" #f="ngForm">
      <div class="input-group">
        <input class="form-control"
               type="text"
               placeholder="Search..."
               name="searchContent"
               [(ngModel)]="searchContent">
        <span class="input-group-btn">
        <button class="btn btn-danger" type="submit">Go</button>
      </span>
      </div>
    </form>
  </div>
</div>

<div class="card-columns" style="padding-top: 10px">
  <div class="card text-center">
    <a (click)="searchTop()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Top.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchTop()">Top</h5>
    </div>

  </div>
  <div class="card p-3 text-center">
    <a (click)="searchSweatershirt()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Sweatshirt.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchSweatershirt()">Sweatshirt</h5>
    </div>
  </div>

  <div class="card text-center">
    <a (click)="searchAccessory()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Accessory.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchAccessory()">Accessory</h5>
    </div>
  </div>

  <div class="card text-center p-3">
    <a (click)="searchJacket()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Jacket.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchJacket()">Jacket</h5>
    </div>
  </div>

  <div class="card text-center">
    <a (click)="searchSkate()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Skate.jpg" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchSkate()">Skate</h5>
    </div>
  </div>

  <div class="card text-center">
    <a (click)="searchPants()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Pant.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchPants()">Pants</h5>
    </div>
  </div>

  <div class="card p-3 text-center">
    <a (click)="searchBag()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Bag.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchBag()">Bag</h5>
    </div>
  </div>

  <div class="card text-center">
    <a (click)="searchHat()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Hat.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchHat()">Hat</h5>
    </div>
  </div>

  <div class="card text-center">
    <a (click)="searchShirt()" class="a-no-hover">
      <img class="card-img-top" src="../../../assets/Shirt.png" alt="Card image cap">
    </a >
    <div class="card-body">
      <h5 class="card-title" (click)="searchShirt()">Shirt</h5>
    </div>
  </div>

</div>
<div class="card-footer footer-color fixed-bottom">
  <a class="pull-right white_text" href="."><i class="fa fa-user" style="color: #E1282A"></i></a >
</div>
</body>
