<body class="body-black">
<nav class="navbar navbar-default header-margin-bottom">
  <div class="container-fluid">
    <div class="supreme-font">
      <a class="white_text" routerLink="../"><i class="fa fa-chevron-left"></i></a >
      <span class="supreme-text-logo"><a class="a-no-color a-no-hover a-no-visited"
                                         routerLink="/loggedinhome/user">S U P R E M E</a ></span>
    </div>
  </div>
</nav>
<div class="row justify-content-center">
  <h4 class="white_text supreme-font">Thanks for shopping with us!</h4>
</div>
<div class="row justify-content-center footer-padding">
  <button class=" col-5 btn btn-outline-danger btn-block supreme-font white_text center_text justify-content-center" routerLink="/loggedinhome/user">Back to home</button>
</div>
<div class="card-footer footer-color fixed-bottom">
  <a class="pull-right white_text" routerLink="/user/buyer"><i class="fa fa-user"></i></a >
</div>
</body>
