<body class="body-black">
<nav class="navbar navbar-default header-margin-bottom">
  <div class="supreme-font">
    <a class="white_text" routerLink="../"><i class="fa fa-chevron-left"></i></a >
    <span class="supreme-text-logo"><a class="a-no-color a-no-hover a-no-visited"
                                       routerLink="/loggedinhome/user">S U P R E M E</a ></span>
  </div>
</nav>
<p class="center_text supreme-font white_text text-font-size">Cart</p >

<table class="table table-hover white_text table-margin footer-padding">
  <thead class="table-info">
  <tr>
    <th></th>
    <th scope="col" class="supreme-font text-black">Item</th>
    <th scope="col" class="supreme-font text-black">Price</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <th></th>
    <td class="supreme-font">{{item.name}}</td>
    <th scope="col" class="supreme-font">${{item.price}}</th>
    <td>
      <button class="btn btn-outline-danger btn-block supreme-font white_text small-button" (click)="remove(item._id)"
      >remove
      </button>
    </td>
  </tr>
  <tr class="table-info">
    <th></th>
    <td class="supreme-font text-black">Subtotal</td>
    <th scope="col" class="supreme-font text-black">${{total}}</th>
    <td>
      <button class="btn btn-outline-danger btn-block supreme-font white_text small-button"
              (click)="goPayment()">Checkout
      </button>
  </tr>

  </tbody>
</table>
<div class="card-footer footer-color fixed-bottom">
  <a class="pull-right white_text" routerLink="/user/buyer"><i class="fa fa-user"></i></a >
</div>
</body>
