<head>
  <title>Edit Item</title>
</head>

<body class="body-black">
<nav class="navbar navbar-default header-margin-bottom">
  <div class="supreme-font">
    <a class="white_text" routerLink="../"><i class="fa fa-chevron-left"></i></a >
    <span class="supreme-text-logo"><a class="a-no-color a-no-hover a-no-visited"
                                       routerLink="/loggedinhome/user">S U P R E M E</a ></span>
  </div>
</nav>
<div class="card footer-padding black-card">
  <div class="center_text big-box row justify-content-center">
    <div class="card col-lg-2 col-md-12 col-sm-12 col-xs-12 black-card full-border">
      <div class="input_padding">
        <form (ngSubmit)="findCategory()" #f="ngForm" class="center_input input_padding">
          <span><label class="supreme-font">Category</label></span>
          <select name="size" style="margin-bottom: 20px" [(ngModel)]="category">
            <option>Jacket</option>
            <option>Shirt</option>
            <option>Top</option>
            <option>Sweatshirt</option>
            <option>Pants</option>
            <option>Hat</option>
            <option>Bag</option>
            <option>Skate</option>
            <option>Accessory</option>
          </select><br>
          <button type="submit" class="btn-outline-danger bottom-button supreme-font" style="color: white">Search
          </button>
        </form>
        <br>
        <button class="btn-outline-danger bottom-button supreme-font" style="color: white" (click)="findAllItem()">Show
          All
        </button>
      </div>
    </div>

    <div class=" card col-lg-10 col-md-12 col-sm-12 col-xs-12 black-card full-border">
      <div class="card-columns" style="padding: 10px">
        <div class="card text-center" *ngFor="let item of itemList">
          <img class="card-img-top" src={{item.url}}>
          <div class="card-body item-text">
            Name: {{item.name}}<br>
            Color: {{item.color}}<br>
            Size: {{item.size}}<br>
            Price: ${{item.price}}<br>
            Category: ${{item.category}}<br>
            Seller ID: {{item._seller}}<br>
            <label class="btn btn-outline-danger btn-block center_input supreme-font" routerLink="/user/admin/edititem"
                   (click)="deleteItem(item._id)">Delete</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
  <div class="card-footer footer-color fixed-bottom">
    <a class="pull-right white_text" routerLink="/user/admin"><i class="fa fa-user"></i></a >
  </div>
</div>
</body>
