<head>
  <title>Chooser</title>
</head>
<body class="body-black">
<nav class="navbar navbar-default header-margin-bottom">
  <div class="supreme-font">
    <span class="supreme-text-logo"><a class="a-no-color a-no-hover a-no-visited">S U P R E M E</a></span>

  </div>
</nav>

<div class="center_text footer-padding">
  <div class="center_input input_padding">
    <form (ngSubmit)="updateTypeAndUsername()" #f="ngForm" class="center_input input_padding">
      <span><h5 class="supreme-font">Specify your username</h5></span>
      <input placeholder="Username"
             name="username"
             type="text"
             class="form-control center_input"
             ngModel
             required
             #username="ngModel"/>
      <span class="help-block center_input supreme-font"
            *ngIf="!username.valid && username.touched"
            style="color: white">
      Please enter username!
      </span>
      <br>
      <br>
      <span><h5 class="supreme-font">Select your account type</h5></span>
      <select name="userType" style="margin-bottom: 20px" [(ngModel)]="userType">
        <option>Seller</option>
        <option>Buyer</option>
      </select>
      <span class="help-block center_input supreme-font"
            *ngIf="!hasUserType"
            style="color: white">
      Please select type!
      </span>
      <br>
      <br>
      <button type="submit" class="btn-outline-danger bottom-button supreme-font" style="color: white"
              [disabled]="!f.valid">Submit
      </button>
    </form>
  </div>
</div>

<div class="card-footer footer-color fixed-bottom">
  <a class="pull-right white_text"><i class="fa fa-user"></i></a>
</div>
</body>
